body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 100vh;
}

.navbar {
    padding: 20px 0;
    /* Sesuaikan padding untuk memperbesar navbar */
}

/* Gambar logo di navbar */
.navbar-brand img {
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-nav .nav-link {
    color: white;
    font-weight: 500;
}

.navbar-nav .nav-link:hover {
    color: #e2e6ea;
}

.bottom-buttons {
    position: absolute;
    top: 100px;
    /* Beri jarak dari atas (sesuaikan sesuai kebutuhan) */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: flex;
    gap: 10px;
}

/* Aturan umum untuk tombol */
.cb-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: rgb(63, 138, 125);
    color: #ffffff;
    transition: all 0.3s ease;
    border-radius: 50px;
    white-space: nowrap;
    /* Mencegah tombol membesar karena teks */
}

/* Hover efek */
.cb-btn:hover {
    background-color: #e2e6ea;
}

/* Khusus untuk dropdown toggle */
.btn-group .cb-btn.dropdown-toggle {
    border-radius: 0 50px 50px 0;
    /* Hanya bagian kanan yang rounded */
    padding-right: 20px;
}

/* Tombol pertama di grup dropdown */
.btn-group .cb-btn:first-child {
    border-radius: 50px 0 0 50px;
    /* Hanya bagian kiri yang rounded */
}

.dropdown-menu {
    border-radius: 0 0 10px 10px;
    /* Supaya dropdown menu terlihat halus di bagian bawah */
}

/* Untuk tombol ungu */
.cb-btn-purple {
    background-color: #6c217f;
}

.cb-btn-purple:hover {
    background-color: #843299;
}

.btn-group .cb-btn-purple.dropdown-toggle {
    border-radius: 0 50px 50px 0;
    /* Aturan untuk dropdown toggle yang ungu */
}

.text-label {
    font-size: 12px;
    /* Ukuran teks */
    font-weight: 550;
    text-align: center;
    /* Tebal teks */
    color: black;
    /* Warna teks */
    white-space: nowrap;
}

.text-label-dua {
    font-size: 26px;
    /* Ukuran teks */
    font-weight: 600;
    text-align: center;
    /* Tebal teks */
    color: rgba(37, 37, 37, 0.226);
    /* Warna teks */
    white-space: nowrap;
}